.float_input_wrap {
    position: relative;
    width: 100%;
}
.float_input_wrap .float_input{
    padding-top: 10px;
    border: 1px solid #ced4da;
}
.float_input_wrap input:focus{
    outline-width: 0;
}
.float_input_wrap .float_label {
    position: absolute;
    pointer-events: none;
    top: 7px;
    left: 10px;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.2s ease all;
}
.float_input_wrap input:focus ~ .float_label,
.float_input_wrap input.invalid ~ .float_label,
.float_input_wrap input:not(:focus):valid ~ .float_label{
    top: 0px;
    left: 13px;
    font-size: 8px;
    opacity: 1;
}

.float_input_wrap .StripeElement--focus ~ .float_label,
.float_input_wrap .StripeElement--invalid ~ .float_label,
.float_input_wrap .StripeElement--complete ~ .float_label {
    top: 0px;
    left: 13px;
    font-size: 8px;
    opacity: 1;
}

.StripeElement--invalid, .invalid {
    background-color: rgba(225, 225, 0, .3) !important;
}

.float_input_wrap div:focus ~ .float_label,
.float_input_wrap div:not(:focus):valid ~ .float_label{
    top: 0px;
    left: 13px;
    font-size: 8px;
    opacity: 1;
}

input:focus,
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.react-confirm-alert-overlay {
    z-index: 2000;
}